.idea/
rename_images.log
wandb/
__pycache__/
_saved_models/
backup/
*.pth
visualisations.ipynb
.env
.ipynb_checkpoints
data/plantVillage/*
!data/plantVillage/.gitkeep
data/potatodata/*
!data/potatodata/.gitkeep
sam3/